@import url("https://use.typekit.net/tuo6hzi.css");
@import "tailwind.css";
@import "typography.scss";
@import "buttons.scss";

body {
  font-family: dico-code-one, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  width: 100%;
}
